@media screen and (max-width: 600px) {
  .main-container {
    padding: 100px 5px;
  }
  .content-container {
    padding: 20px 10px;
  }
  
  section.search input {
    min-width: 98%;
  }

  section.search button {
    height: 2em;
    width: 90px;
  }

  section.info .inforight {
    text-align: left;
    padding-top: 10px;
    font-size: 18px;
    max-width: 98%;
  }
}