/* ============================================================= */
/* ||                       General                              */
/* ============================================================= */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400");
:root {
  /*font-family*/
  --Nunito: "Nunito", sans-serif, cursive;
}

* {
  box-sizing: border-box;
  font-family: var(--Nunito);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1e2024;
}

.main-container {
  max-width: 900px;
  text-align: center;
  padding: 5px;
  margin: auto;
  padding: 100px 20px;
}

.content-container {
  background-color: #2a2d31;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 0px 8px rgb(180, 175, 175);
}

/* ============================================================= */
/* ||                       Header                               */
/* ============================================================= */
header {
  color: #eee;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #000;
  padding-left: 30px;
  box-shadow: 0 1px 5px -2px cyan;
}

header h1 {
  line-height: 60px;
  margin: 0;
}

/* ============================================================= */
/* ||                       Search                               */
/* ============================================================= */
section.search {
  text-align: center;
}

section.search input {
  width: 70%;
  height: 2.6em;
  line-height: 2.6em;
  border-radius: 6px;
  border: none;
  background-color: #1e2125;
  padding: 0 0.9em;
  outline: none;
  color: #eee;
  font-size: auto;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0.5px #ccc;
  font-weight: bold;
}

section.search input:focus {
  box-shadow: 0px 0px 5px 0.5px cyan;
}

section.search button {
  height: 2.3em;
  width: 115px;
  font-weight: bold;
  margin: auto;
  border-radius: 4px;
  background-color: #0099ff;
  border: none;
  color: #eee;
  font-size: 100%;
  display: block;
  box-shadow: 0.1px 0.1px 3px 0.5px #ddd;
}

section.search button:hover {
  background-color: #0084d8;
}

section.search button:active {
  background-color: #0475bf;
}

section.search div {
  color: yellowgreen;
}

/* ============================================================= */
/* ||                       Info                                 */
/* ============================================================= */
section.info {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

section.info .inforight {
  text-align: left;
  padding-top: 10px;
  font-size: 18px;
  max-width: 60%;
}

section.info .inforight .ttl {
  margin-bottom: 2rem;
  word-wrap: break-word;
}

section.info .infoleft img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 3px 0.5px #ddd;
}

/* ============================================================= */
/* ||                       Download                             */
/* ============================================================= */
section.format .format {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  color: #eee;
  user-select: none;
  margin-bottom: 28px;
}

section.format .format input {
  display: none;
}

input:checked + .custom-radio-btn {
  background-color: #0099ff;
}

input:checked + .custom-radio-btn:hover {
  background-color: #0084d8;
}

.custom-radio-btn {
  cursor: pointer;
  background-color: #1e2125;
  border-radius: 4px;
  box-shadow: 0.1px 0.1px 3px 0.5px #ddd;
  padding: 0.5em 0.8em;
}

.custom-radio-btn:hover {
  background-color: #22252a;
}

section.format label {
  width: 80px;
}

section.download .dwn {
  background-color: #7ed214;
  border-radius: 4px;
  height: 45px;
  width: 115px;
  padding: 0.5em 0.8em;
  border: none;
  font-weight: bold;
  box-shadow: 0.1px 0.1px 3px 0.5px #ddd;
  width: 100%;
  max-width: 115px;
  min-width: 85px;
}

section.download .dwn:hover {
  background-color: #6ab114;
}

section.download .dwn:active {
  background-color: #5e9c12;
}

/* ============================================================= */
/* ||                       Footer                               */
/* ============================================================= */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #000;
  color: #eee;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -2px cyan;
}

footer p {
  margin: auto;
}

footer a {
  color: #eee;
  margin-right: 3%;
}

footer a:hover {
  color: #bbb;
}

section.d-none {
  display: none;
}