body {
  background-color: #555;
}

.container {
  margin: auto;
  margin-top: 2%;
  /*border: 1px solid red;*/
  max-width: 500px;
  text-align: center;
  background-color: #444;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  position: relative;
}

input.video-url {
  background-color: #fff;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  color: #666;
  padding: 10px;
}

section.first {
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  box-shadow: 2px 2px 5px #333;
}

.container section.first .start-btn {
  margin-top: 20px;
  background-color: #0099ff;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold; 
  box-shadow: 2px 2px 5px #333;
}

.container section.first .start-btn:hover {
  background-color: #0E81CE;
  box-shadow: 2px 2px 5px #333;
}

section.second {
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  margin: 30px auto;
  font-weight: bold;
  box-shadow: 2px 2px 5px #333;
  /*min-height: 207.02px;*/
  display: none;
}

section.second .video-tmb {
  max-width: 250px;
  border-radius: 10px;
  /*border: 3px solid cyan;*/
  transition: .4s filter;
  box-shadow: 2px 2px 5px #333;
}

section.second .video-tmb:hover {
  filter: grayscale(50%);
}

section.second .video-ttl {
  margin-top: 8px;
  color: white;
}

.down-btn {
  margin-top: 20px;
  background-color: #7ed214;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 5px #333;
  display: none;
}

.down-btn:hover {
  background-color: #8dd435;
}

.down-btn:active, 
.container section.first .start-btn:active {
  transform: translateY(2.5px);
  box-shadow: 2px 2px 3px #222;
}

.container section.third {
  box-shadow: 2px 2px 5px #333;
  padding: 8px;
  border-radius: 10px;
  background-color: #555;
  margin-top: 30px;
  display: none;
}
