body {
  background-color: #555;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  place-items: center;
}

.main-container .item-container {
  margin-top: 2%;
  max-width: 500px;
  min-width: 80%;
  text-align: center;
  background-color: #444;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
}

section.search {
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  box-shadow: 2px 2px 5px #333;
  margin: auto;
  display: grid;
  grid-column: container;
  place-items: center;
}

section.search input.url {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  color: #666;
  padding: 10px;
  text-align: center;
}

section.search button.cvb {
  margin-top: 20px;
  background-color: #0099ff;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 5px #333;
}

section.search button.cvb:hover {
  background-color: #0e81ce;
  box-shadow: 2px 2px 5px #333;
}

section.info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  box-shadow: 2px 2px 5px #333;
}

section.download {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #555;
  box-shadow: 2px 2px 5px #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}


.tmb {
  max-width: 250px;
  border-radius: 10px;
  transition: 0.4s filter;
  box-shadow: 2px 2px 5px #333;
}

.tmb:hover {
  filter: grayscale(50%);
}

.item-container section:not(:first-child) {
  display: none;
}


.format {
  position: relative;
  font-family: Arial;
  width: 150px;
}

.format select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
  border-radius: 10px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 0 0 10px 10px;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
